Makefile
Makefile.in
.deps
.dirstamp
*.o

/aclocal.m4
/autom4te.cache/
/build-aux/
/config.*
/configure
/NEWS
/stamp-h1

/python-exec2
/python-exec2c

/test-suite.log
/test/data/
/tests/*.log
/tests/*.trs
