Makefile
Makefile.in
.deps
.dirstamp
*.o

/aclocal.m4
/autom4te.cache/
/build-aux/
/config.*
/configure
/NEWS
/stamp-h1

/python-exec2
/python-exec2-c

/test-suite.log
/tests/print-bufsiz
/tests/python-exec
/tests/python-exec2-c
/tests/python-exec-c.c
/tests/*.log
/tests/*.tmp*
/tests/*.trs
/tests/python*/
